<section class="search-form">
  <header>
    <h1 class="h2">Customer Search</h1>
  </header>
  
  <%= form_for :customers, method: :get do |f| %>
    <div class="input-group input-group-lg">
      <%= label_tag :keywords, nil, class: 'sr-only' %>
      <%= text_field_tag :keywords, nil, placeholder: "First Name, Last Name, Email Address", class: 'form-control input-lg' %>
      <span class="input-group-btn">
        <%= submit_tag "Find Customers", class: 'btn btn-lg btn-primary' %>
      </span>
    </div>
  <% end %>
</section>

<section class="search-results">
  <header>
    <h1 class="h3">Search Results</h1>
  </header>
  
  <%= render partial: "pager", locals: { keywords: @keywords, page: @page } %>
  <ol class="ol">
    <% @customers.each do |customer| %>
      <li class="list-group-item clearfix">
        <h3 class="pull-right">
          <small class="text-uppercase">Joined</small>
           <%= l customer.created_at.to_date %>
        </h3>
        <h2 class="h3">
          <%= customer.first_name %> <%= customer.last_name %>
          <small> (account number or SSN)<%#= customer.username %></small>
        </h2>
        <h4><%= customer.email %></h4>
      </li>
    <% end %>
  </ol>
  <%= render partial: "pager", locals: { keywords: @keywords, page: @page } %>
  
</section>