<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "FPA - Utilities" %></title>
    <%= csrf_meta_tags %>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Utilities" %>">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <%= favicon_link_tag %>
  </head>

  <body>
    <div id="wrapper">
      <div class="overlay"></div>
      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
          <li class="sidebar-brand">
            <%= link_to image_tag("logo-white.png", title: "Fierro Public Affairs", class: "sidebar-logo"), root_url, class: 'sidebar-brand' %>
          </li>
          <li>
            <%= link_to "Fierro Public Affairs", root_url, class: '' %>
          </li>
          <li>
            <%= link_to "Another Comparison", new_comparison_url, class: '' %>
          </li>
          <li>
            <%= link_to "Slack", "https://fierropa.slack.com", class: '' %>
          </li>
          <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li class="dropdown-header">Dropdown heading</li>
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li> -->
        </ul>
      </nav><!-- /#sidebar-wrapper -->
    
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
          <span class="hamb-top"></span>
          <span class="hamb-middle"></span>
          <span class="hamb-bottom"></span>
        </button>
      
        <%= yield %>
        
      </div><!-- /#page-content-wrapper -->
      
    </div><!-- /#wrapper -->
    
    <!-- Menu Toggle Script -->
    <script>
      $(document).ready(function () {
        var trigger = $('.hamburger'),
            overlay = $('.overlay'),
           isClosed = false;

          trigger.click(function () {
            hamburger_cross();      
          });

          function hamburger_cross() {

            if (isClosed == true) {          
              overlay.hide();
              trigger.removeClass('is-open');
              trigger.addClass('is-closed');
              isClosed = false;
            } else {   
              overlay.show();
              trigger.removeClass('is-closed');
              trigger.addClass('is-open');
              isClosed = true;
            }
        }
  
        $('[data-toggle="offcanvas"]').click(function () {
              $('#wrapper').toggleClass('toggled');
        });  
      });
    </script>
  </body>
</html>
